.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 150px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 30%;
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2%;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .buttonContainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
  }
  
  .buttonContainerButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .inputContainer {
    margin-top: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inputContainerLabel {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .inputContainerInput {
    width: 60%;
    max-width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  