.inputContainer {
    margin-top: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inputContainerLabel {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .inputContainerInput {
    width: 60%;
    max-width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonContainer {
    margin-top: 20px;
    text-align: center;
    position: relative
  }
  
  .buttonContainerButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .dialogContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 10%;
    width: 23%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .dialogContainerP {
    margin-bottom: 10px;
  }
  
  .dialogContainerButton {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  